html
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
}

body
{
    background-color: #F4F5F7 !important;
}

::placeholder
{
    color:   #BDBDBD !important;
    opacity: 1       !important;
}

.general_hr
{
    border-top: 1px solid rgba(160, 160, 160, 0.25) !important;
}

.general_button_primary
{
    margin-right: 0px !important;
}

.general_button_secondary
{
    margin-right: 16px !important;
}

.text_title_primary
{
    font-size:   32px !important;
    font-weight: 400  !important;
}

.text_title_secondary
{
    font-size:   20px !important;
    font-weight: 300  !important;
}

.text_info_primary
{
    font-size:   24px !important;
    font-weight: 400  !important;
}

.text_info_secondary
{
    font-size:   16px !important;
    font-weight: 400  !important;
}

.container_head
{
    width: 860px !important;
}

.container_body
{
    width: 860px !important;
}

.navbar_icon
{
    width:        32px !important;
    height:       32px !important;
    margin-right: 16px !important;
}

.modal_create_body
{
    width: 645px !important;
}

.modal_create_icon
{
    font-size:    32px    !important;
    font-weight:  400     !important;
    color:        #FFFFFF !important;
    margin-right: 16px    !important;
}

.modal_create_text
{
    font-size:    32px    !important;
    font-weight:  400     !important;
    color:        #FFFFFF !important;
    margin-right: 0px     !important;
}

.modal_delete_body
{
    width: 645px !important;
}

.modal_delete_icon
{
    font-size:    32px    !important;
    font-weight:  400     !important;
    color:        #FFFFFF !important;
    margin-right: 16px    !important;
}

.modal_delete_text
{
    font-size:    32px    !important;
    font-weight:  400     !important;
    color:        #FFFFFF !important;
    margin-right: 0px     !important;
}

.prompt_success_card
{
    border:           1px solid #53674B !important;
    background-color: #DEF2D6           !important;
}

.prompt_success_icon
{
    font-size:    24px    !important;
    font-weight:  400     !important;
    color:        #53674B !important;
    margin-right: 16px    !important;
}

.prompt_success_text
{
    font-size:    16px    !important;
    font-weight:  400     !important;
    color:        #53674B !important;
    margin-right: 0px     !important;
}

.prompt_failure_card
{
    border:           1px solid #AB312F !important;
    background-color: #EBC8C4           !important;
}

.prompt_failure_icon
{
    font-size:    24px    !important;
    font-weight:  400     !important;
    color:        #AB312F !important;
    margin-right: 16px    !important;
}

.prompt_failure_text
{
    font-size:    16px    !important;
    font-weight:  400     !important;
    color:        #AB312F !important;
    margin-right: 0px     !important;
}

.overview_icon
{
    width:        20px !important;
    height:       20px !important;
    margin-right: 16px !important;
}

.overview_text
{
    padding-top:    48px !important;
    padding-bottom: 48px !important;
}

.input_credential_row
{
    margin-bottom: 0px !important;
}

.input_credential_badge
{
    margin-right:     16px              !important;

    border:           1px solid #AB312F !important;
    background-color: #EBC8C4           !important;

    font-size:        12px              !important;
    font-weight:      400               !important;
    color:            #AB312F           !important;
}

.input_credential_file
{
    padding-left:  0px  !important;
    padding-right: 10px !important;
}

.output_credential_row
{
    margin-bottom: 0px !important;
}

.output_credential_badge
{
    margin-right:     16px              !important;

    border:           1px solid #AB312F !important;
    background-color: #EBC8C4           !important;

    font-size:        12px              !important;
    font-weight:      400               !important;
    color:            #AB312F           !important;
}

.output_credential_file
{
    padding-left:  0px  !important;
    padding-right: 10px !important;
}
